@import url("https://fonts.googleapis.com/css2?family=Futura:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@font-face {
    font-family: 'Chinese1';
    src: url('@/assets/fonts/AiChinese01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Chinese2';
    src: url('@/assets/fonts/AiChinese02.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Chinese3';
    src: url('@/assets/fonts/Chinese3.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-inter {
    font-family: Inter, sans-serif;
}

.font-futura {
    font-family: Futura, sans-serif;
}