

/* 主题色 */
$primary-color: #007BFF;
$warining-color: #FFB31C;
$error-color: #F0000E;
$info-color: #5E64DA;
$success-color: #30C0A2;
$default-primary: #F0000E;
$default-active-color: #F59403;
$default-underline-color: #5a5a5b;
$default-gold-color: #FFC000;
$default-input-placeholder:#D7B9B9;

:root {
    --plyr-color-main: $primary-color;
}

.light_theme {
  --webkubor-text-primary: #333333;
  --webkubor-desc-primary: #999999;
  --webkubor-card-level-1: #f5f7fa;
  --webkubor-card-level-2: #ffffff;
  --webkubor-card-level-3: #eeeeee;
  --webkubor-divider: #e5e5e5;
  --webkubor-popover-hover-item: #f5f7fa;
  --webkubor-shadow: #D1D1D1;
}
.dark_theme {
  --webkubor-text-primary: #ffffff;
  --webkubor-desc-primary: #9a9999;
  --webkubor-card-level-1: #030303;
  --webkubor-card-level-2: #171a1d;
  --webkubor-card-level-3: #0c0e10;
  --webkubor-divider: #272b30;
  --webkubor-popover-hover-item: #171a1d;
  --webkubor-shadow: #1B1B1B;
}


* {
  box-sizing: border-box;
}
@import "./mixins.scss";
@import "./button.scss";
@import "./font.scss";



.grecaptcha-badge {
  display: none !important;
}


.echarts-tooltip {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  background-color: #2C2F3F;
  color: #fff;
  .tooltip-value {
    font-size: 14px;
    color: #E74C3C;
  }
}

.column-center {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.flex-center-v {
  @include flex-center-v;
}
.flex-center-h {
  @include flex-center-h;
}



.common-title {
  font-family: Inter, sans-serif;
  font-size: 35px;
  color: #000000;
  width: 100%;
  text-align: center;
  position: relative;
  font-weight: 600;
  z-index: 999;
  margin: 20px 0;
  line-height: 40px;
  .more {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background: rgb(31 41 55);
    color: #ffffff;
  }
}