

/* 毛玻璃效果 */
@mixin glass-effect($bg-color, $blur, $opacity) {
  background: rgba($bg-color, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
  border: 1px solid rgba($bg-color, $opacity - 0.1);
}
// 骨架屏
@mixin skeleton-animation {
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
@keyframes shimmer {
  0% {
      background-position: -200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}

@mixin flex-center-v {
  display: flex;
  align-items: center;
}
@mixin flex-center-h {
  display: flex;
  justify-content: center;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
@mixin scroller {
  &::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ddd;
  }
}
